[Unit]
Description=PyracerServer
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/massimo/apps/pyracer-srv
ExecStart=.venv/bin/uvicorn app.main:app --host=0.0.0.0 --port 4000 --reload
Restart=on-failure

[Install]
WantedBy=multi-user.target